  <div>
    <iframe data-aa='147074' src='https://ad.a-ads.com/147074?size=336x280' scrolling='no' style='width:336px; height:280px; border:0px; padding:0;overflow:hidden' allowtransparency='true' frameborder='0'></iframe>
  </div>
  <ul>
    <li><a target="_blank" href="https://cryptotradingtools.com">Crypto Trading Tools</a></li>
    <li>
    <a target="_blank" href="http://backtesting.bitcoinfutures.info/daily.json">JSON / Reddit: /r/bitcoinmarkets daily trading thread</a>
    </li>
    <li>
      <a target="_blank" href="https://jsonp.afeld.me/?url=http://api.altcoinwisdom.com/widget.html">HTML / Market Data: Poloniex altcoin prices widget via HTTPS proxy</a>
    </li>
    <li>
      <a href="http://backtesting.bitcoinfutures.info/premium.json">JSON / Market Data: Bitcoin Futures Premium (OkCoin). Tons of redundant data, consider yourself warned.</a>
    </li>
    <li>
      <a href="http://backtesting.bitcoinfutures.info/poloniex.json">JSON / Reddit: Top level posts from bitcoin subreddits mentioning Poloniex.</a>
    </li>
  </ul>
  <h5>Referral Codes For Fee Discount:</h5>
  <ul>
    <li>BITFINEX CODE 5egV78YtlC</li>
    <li>BITMEX CODE iYQB44</li>
    <li>COINMAMA fny3000</li>
  </ul>
